<div class="column">
	<!-- Title of this column -->
	<% board = @column.board %>
  	<h2> <%= link_to @column.title, board_column_path(board, @column) %></h2><br>


 	<%= render :partial => "tasks/orderedTaskList", :object => @column %>

	<% if  @project.user.name==current_user.name %> 

		<!-- add tasks to this current board -->
		<p><%= link_to 'add Task', new_column_task_path(@column) %></p>

	<% end %>



</div> <!-- end column -->
