
<p>
  <b>Title:</b>
  <%= @column.title %>
</p>

<p>
  <b>Position:</b>
  <%= @column.position %>
</p>

<%= link_to 'Edit', edit_board_column_path(@column) %> |
<%= link_to_function "Back", "history.back()" %>
