 <div class="content">

 <% if notice %>
  <div class="alert alert-success">
    <h4 class="alert-heading">Success!</h4>
    <%= notice %>
  </div>
<%end%>
<table class="table table-striped">
 <tr>
  <th>Title:</th>
 </tr>
  <td><%= @board.title %></td>
</table>

</div>

<%= link_to 'Edit', edit_project_board_path(@board) %> |
<%= link_to 'Back', project_path(@project) %>
