
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
*/

/*
 *= require ././bootstrap
*/
@import "jquery-ui-1.8.20.custom.css";

@import "stories.css.scss";
@import "boards.css.scss";
@import "tasks.css.scss";
@import "scrollable_board.css.scss";




*{
	/*font-family: 'Love Ya Like A Sister', cursive;*/
	/*font-family: 'The Girl Next Door', cursive;*/

}
.cleaner{
clear:both;
line-height:0px;
height:0px;}
body{
border:none;
padding:0;

}
#container{
/*width:70%;
margin:auto;*/
}
.content{
	/*
width:100%;
margin:auto;
text-align:center;
*/}
h1{
margin-bottom: 20px;
margin-top:50px;
}

h1 a {
  font-size:14px;
  margin-left:20px;
}

}
a{
color: blue;
text-decoration:none;
width:15% ;
display:block;
float:left;
}
a:hover{
	color: red;
}
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }
  .right{
  	float:right;
  }

form.button_to{
  margin: 0 0 0 0;
}

