/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


*/



*{
	/*font-family: 'Love Ya Like A Sister', cursive;*/
	font-family: 'The Girl Next Door', cursive;
	}
	
.cleaner{
clear:both;
line-height:0px;
height:0px;
}
body{
	border:none;
padding:0;

}
#container{
width:auto;
	margin:auto;
}
h1{
width:20%;
margin:auto;
margin-bottom: 20px;
margin-top:50px;
}
.postit{
background: #ff5;
width:20%;
display: block;
padding: 10px;
margin:auto;
margin-bottom:20px;
}

.schatten {
    -webkit-box-shadow: 3px 2px 5px #aaa;
    -moz-box-shadow: 3px 2px 5px #aaa;
    box-shadow: 3px 2px 5px #aaa;
   /* -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;*/
}
table.story{
text-align:left;
}
table.story th{
	text-decoration: underline;
	} 
table.story .col1, table.story .col2, table.story .col3{
vertical-align:top;
padding-right:10%;
}
/* title */
table.story .col1{
width:30%;
}
/* description */
table.story .col2{
width:65%;
}
/* priority */
table.story .col3{
width:5%;
}
a{
	color: blue;
	text-decoration:none;
width:25% ;
display:block;
float:left;
}
a:hover{
	color: red;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


*/



*{
	/*font-family: 'Love Ya Like A Sister', cursive;*/
	font-family: 'The Girl Next Door', cursive;
	}
.cleaner{
clear:both;
line-height:0px;
height:0px;}
body{
	border:none;
padding:0;

}
#container{
width:auto;
	margin:auto;
}
h1{
width:20%;
margin:auto;
margin-bottom: 20px;
margin-top:50px;
}
.postit{
background: #ff5;
width:20%;
display: block;
padding: 10px;
margin:auto;
margin-bottom:20px;
}

.schatten {
    -webkit-box-shadow: 3px 2px 5px #aaa;
    -moz-box-shadow: 3px 2px 5px #aaa;
    box-shadow: 3px 2px 5px #aaa;
   /* -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;*/
}
table.story{
text-align:left;
}
table.story th{
	text-decoration: underline;
	} 
table.story .col1, table.story .col2, table.story .col3{
vertical-align:top;
padding-right:10%;
}
/* title */
table.story .col1{
width:30%;
}
/* description */
table.story .col2{
width:65%;
}
/* priority */
table.story .col3{
width:5%;
}
a{
	color: blue;
	text-decoration:none;
width:25% ;
display:block;
float:left;
}
a:hover{
	color: red;
}
