.board .storyList{
    width: 100%;
}
.board .storyList .postit{
background: #ff5;
//width:30%;
display: block;
padding: 10px;
margin-bottom:20px;
border:none;
}
.board .schatten {
    -webkit-box-shadow: 3px 2px 5px #aaa;
    -moz-box-shadow: 3px 2px 5px #aaa;
    box-shadow: 3px 2px 5px #aaa;
}

.board ul#sortable{
	margin: 0;
	list-style:none;
}

